[themeColor=default] {
  --color-font: #ffffff;
  --color-bg-about: #1895c5;
  --color-bg-skill: #1ca8dd;
  --color-bg-img: #28bdf3c9;
}
[themeColor=mint] {
  --color-font: #ffffff;
  --color-bg-about: #4d9c75;
  --color-bg-skill: #68ce9b;
  --color-bg-img: #28bdf3c9;
}
[themeColor=simple_cookie] {
  --color-font: black;
  --color-bg-about: #c0c0c0;
  --color-bg-skill: #d4d4d4;
  --color-bg-img: #28bdf3c9;
}

.aboutMeBody {
  display: block;
  height: 500px;
  color: black;
}
.aboutContainer {
  position: relative;
}
.aboutMe_about {
  // background-color:  #1895c5;
  text-align: center;
}
.aboutMe_skills {
  // background: #1ca8dd;
  text-align: center;
}
.aboutMe_title {
  position: absolute;
  top: 170px;
  left: 65%;
}
.title_line {
  margin: auto;
  content: '';
  width: 1px;
  height: 5.5em;
  background-color: #67ceeb;
  transition: background-color 2s;
}
.aboutMe_subTitle {
  color: #8cddeb;
  display: block;
  position: relative;
}
.aboutMe_images {
  .title_line, .aboutMe_title, .aboutMe_subTitle {
    display: none;
  }
  .aboutMe_image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    left: 425px;
  }
}
